{%  extends 'accounts/main.html' %}

{% block content %}
<style>
	.profile-pic{
		max-width: 300px;
		max-height:300px;
		margin: 0 auto;
		border-radius: 10%;
	}
</style>

	<br>

<div class="row">
	<div class="col-md-4">
		<div class="card card-body">
			<h3 style="text-align: center">{{ customer.name }}</h3>
			<hr>
			<img class="profile-pic" src="{{customer.profile_pic.url}}" >
		</div>
	</div>
	<div class="col-md-8">
		<div class="card card-body">
			<h3 style="text-align: center">Contact Information</h3>
			<hr>
            <p><b>Username:</b> {{ customer.user }}</p>
            <p><b>Email:</b> {{customer.email}}</p>
			<p><b>Phone:</b> {{customer.phone}}</p>
            <p><b>Join Date:</b> {{ customer.date_created.date }}</p>
            <p><b>Total Order:</b> {{ order_count }}</p>
            <br>
            <a class="btn btn-outline-info  btn-sm btn-block" href="">Update Customer</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_order' customer.id %}">Place Order</a>

		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>

</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Product</th>
                    <th>Status</th>
                    <th>CuttingMaster</th>
                    <th>SewingMaster</th>
                    <th>Other Employ</th>

					<th>Date Orderd</th>
                    <th>Delivery Date</th>

					<th>Update</th>
					<th>Remove</th>
				</tr>

				{% for order in orders %}

				<tr>
					<td>{{order.product}}</td>
                    <td>{{order.status}}</td>
                    <td>{{ order.cuttingmaster }}</td>
                    <td>{{ order.sewingmaster }}</td>
                    <td>{{ order.subemploy }}</td>

					<td>{{order.date_created.date}}</td>
                    <td>{{order.delivery_date.date}}</td>

					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Update</a></td>

					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Delete</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}