<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders" style="background-color: #FF5733">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Orders</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_orders}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered" style="background-color: #0093CF">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Complete</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{complete}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending" style="background-color: #3B3C58">
			  	<div class="card-header">
			  		<h5 class="card-title">Orders Processing</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ processing }}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>

