{%  extends 'accounts/main.html' %}
{% load widget_tweaks %}


{% block content %}
    <h1></h1>
<style>
	.profile-pic{
		max-width: 300px;
		max-height:400px;
		margin: 0 auto;
		border-radius: 20%;
	}
</style>

<br>
<div class="row">
	<div class="col-md-5">
		<div class="card card-body">
			<a class="btn btn-warning" href="{% url 'employs' %}"> &#8592; Back to Employ List</a>
			<hr>
            <div style="text-align: center">
                <h3>{{ sewingmaster.name }}</h3><b>Sewing Master</b><br>
                Join date: {{ sewingmaster.date_created.date }}
                </div>
			<hr>
			<img class="profile-pic" src="{{ sewingmaster.sewingmaster_pic.url }}" >

		</div>
	</div>

	<div class="col-md-7">
		<div class="card card-body">
            <h3 style="text-align: center">Contact Information</h3>
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}

                <div class="form-group">
                <label for="input">*Name</label>
                {% render_field form.name class='form-control' placeholder='Enter You Name'%}
                </div>

                <div class="form-group">
                <label for="input">*Email</label>
                {% render_field form.email class='form-control' placeholder='you@email.com'%}
                </div>


                <div class="form-group">
                <label for="input">*Phone</label>
                {% render_field form.phone class='form-control' placeholder='01XXXXX'%}
                </div>

                <div class="form-group">
                <label for="inputCompany">Image </label>
                {% render_field form.sewingmaster_pic class='form-control-file' %}
                </div>

                <div class="row">
                <div class="form-group col-md-6">
                <label for="input">*Selery Amount</label>
                {% render_field form.selery_amount class='form-control' placeholder=''%}
                </div>

                <div class="form-group col-md-6">
                <label for="input">*Selery Type</label>
                {% render_field form.selery_type class='form-control' placeholder='Enter You Product Name'%}
                </div>
                </div>
			<input class="btn btn-primary" type="submit" name="Update Information">
			</form>


		</div>
	</div>
</div>



{% endblock %}